<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>ACAT</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <style>
        body {
            /* 80px to make the container go all the way to the bottom of the topbar */
            padding-top: 80px;
        }
    </style>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--<script type="text/javascript" src="../META-INF/resources/js/custom.js" th:src="@{/js/custom.js}"></script>-->
</head>

<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">ACAT</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" th:href="@{/dashboard}">Dashboard</a></li>
                <li><a href="#" th:href="@{/provenance}">Provenance</a></li>
                <li><a href="#" th:href="@{/experiment}">Experiment</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>
